{% extends "base.html" %}
{% block title %}Edit task{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
<h2>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{{ url_for('tasks_list') }}">Tasks</a></li>
        <li class="breadcrumb-item">
            <a href="{{ url_for('task_description', task_name=task_name) }}">{{ task_name }} </a></li>
        <li class="breadcrumb-item active" aria-current="page"> Edit Task </li>
    </ol>
</h2>
<form method="post" id="form">
    <div class="btn-group  mb-3">
        <input type=submit name=save value=Save class="btn btn-outline-success btn-lg mp-2 mx-sm-1">
        <input type=submit name=reset value=Reset class="btn btn-outline-warning btn-lg mp-2 mx-sm-1">
    </div>
    <h3>Task JSON:</h3>
    <textarea id=text cols=100 rows=40 form="form" class="form-control"
              name="text">{{ text_data }}</textarea>
</form>
{% endblock %}