{% extends "base.html" %}
{% block title %}Edit task{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
<h3>
    <a href="{{ back_url }}">Back: {{ back_url }}</a>
</h3>
<form method="post" id="form">
    <h3>Task JSON:</h3>
    <p>
        <input type=submit name=save value=Save class="btn btn-outline-success">
        <input type=submit name=reset value=Reset class="btn btn-outline-warning">
    </p>
    <textarea id=text cols=100 rows=40 form="form"
              name="text">{{ text_data }}</textarea>
</form>
{% endblock %}