{% extends "base.html" %}
{% block title %}Job{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<h3>Controls:
    <a href="{{ skip_url }}">Skip</a> |
    <a href="{{ recalc_url }}">Recalculate</a> |
    <a href="{{ back_url }}">Back to task page..</a>
</h3>
<br>
<h1>Label the Relevance:</h1>
<form method="post" class="form-inline">
    <div class="form-group mp-2 mx-sm-1">
        <input type=submit name=no value="Irrelevant" class="btn btn-outline-danger btn-primary btn-lg">
    </div>
    <div class="form-group mp-2 mx-sm-1">
        <input type=submit name=somewhat value="So-so.." class="btn btn-outline-info btn-primary btn-lg">
    </div>
    <div class="form-group mp-2 mx-sm-1">
        <input type=submit name=yes value="Relevant" class="btn btn-outline-success btn-primary btn-lg">
    </div>
    <div class="form-group mp-2 mx-sm-1">
        <input type=text class="form-control-lg" name=label
               id="textField" autofocus autocomplete="off" placeholder="..or number between 0 and 1">
    </div>
    <div class="form-group mp-2 mx-sm-1">
        <input type=submit name=numeric id="labelButton" value=Label class="btn btn-outline-info btn-primary btn-lg">
    </div>
</form>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type=text/javascript src="{{ url_for('static', filename='utils.js') }}"></script>
<script>
    document.getElementById('textField')
        .addEventListener('keypress', clickButtonOnEnter('labelButton'));

</script>
<br>
<h3>Page: <a id="job_link" href="{{ job_url }}" target="_blank">{{ job_url }}</a></h3>
<br>
<h1>Title: <b>{{ job_title }} </b></h1>
<br>
<style>table, th, td {border: 1px solid black; text-align: left;} table {width: 50%;}</style>
<h3>{{ url_data|safe }}</h3>
<br>
<h2>Description: </h2>
<br>
<div class="job-description">
    {{ job_description|safe }}
</div>
{% endblock %}