{% extends "base.html" %}
{% block title %}Job{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
<h3>Controls:
    <a href="{{ skip_url }}">Skip</a> |
    <a href="{{ recalc_url }}">Recalculate</a> |
    <a href="{{ back_url }}">Back to task page..</a>
</h3>
<br>
<form method="post">
    <h1>Label the Relevance:</h1>
    <h3><p>
        <input type=submit name=no value="Irrelevant" class="orange-button">
        <input type=submit name=somewhat value="So-so.." class="blue-button">
        <input type=submit name=yes value="Relevant" class="green-button">
        <input type=text name=label id="textField" autofocus autocomplete="off" placeholder="..or number between 0 and 1">
        <input type=submit name=numeric id="labelButton" value=Label class="blue-button"></p>
    </h3>
</form>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type=text/javascript src="{{ url_for('static', filename='utils.js') }}"></script>
<script>
    document.getElementById('textField')
        .addEventListener('keypress', clickButtonOnEnter('labelButton'));
</script>
<br>
<h3>Page: <a id="job_link" href="{{ job_url }}" target="_blank">{{ job_url }}</a> </h3>
<br>
<h1>Title: <b>{{ job_title }} </b></h1>
<br>
<style>table, th, td {border: 1px solid black; text-align: left;} table {width: 50%;}</style>
<h3>{{ url_data|safe }}</h3>
<br>
<h2>Description: </h2>
<br>
<div class="job-description">
{{ job_description|safe }}
</div>
{% endblock %}