{% extends "base.html" %}
{% block title %}Tasks{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<h2>
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page"> Tasks</li>
    </ol>
</h2>
<ul id="tasks" class="nav nav-pills flex-column text-sm-center">
    {% for task_name in task_names %}
    <li class="nav-item">
        <h2>
            <a class="nav-link active"
               href="{{ url_for('task_description', task_name=task_name) }}">
                {{ task_name }}</a>
        </h2>
    </li>
    {% endfor %}
    <li class="nav-item">
        <h2>
            <a class="nav-link btn btn-secondary btn-lg active"
               href="{{ url_for('new_task') }}"> .. new task </a>
        </h2>
    </li>
</ul>


{% endblock %}