{% extends "base.html" %}
{% block title %}Tasks{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<h1>Task "{{task_name}}":</h1>
<br>
<h2>View jobs and Label: <a href="{{ label_url }}">{{ label_url }}</a></h2>
<h2>Scrape for new jobs: <a href="{{ scrape_url }}">{{ scrape_url }}</a></h2>

<h2>Back: <a href="{{ back_url }}">{{ back_url }}</a></h2>
<br>

<ul class="nav nav-pills nav-fill" style="width: 50%">
    <li class="nav-item">
        <a class="nav-link btn btn-secondary btn-lg mx-sm-1" href="{{ reload_url }}">Reload and recalc</a>
    </li>
    <li class="nav-item">
        <div class="dropdown">
            <a class="nav-link btn btn-secondary btn-lg dropdown-toggle mx-sm-1" type="button"
               id="infoDrop" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Info
            </a>
            <div class="dropdown-menu" aria-labelledby="infoDrop">
                <a class="dropdown-item" href="{{ url_for('server_logs') + '#bottom' }}" target="_blank">Server logs</a>
                <a class="dropdown-item" href="{{ labels_history_url + '#bottom' }}" target="_blank">Labels history</a>
            </div>
        </div>
    </li>
    <li class="nav-item">
        <div id="headingDesc">
            <a class="nav-link btn btn-secondary btn-lg mx-sm-1" type="button"
               data-toggle="collapse" data-target="#collapseDesc"
               aria-expanded="false" aria-controls="collapseDesc">
                Show task definition..
            </a>
        </div>
    <li class="nav-item">
        <a class="nav-link btn btn-secondary btn-lg mx-sm-1" href="{{ edit_url }}">Edit task definition</a>
    </li>

</ul>
<div class="collapse" id="collapseDesc" aria-labelledby="headingDesc">
    <div class="card card-body">
        <pre id="json"><span class="inner-pre">{{ config_data }}</span></pre>
    </div>
</div>
{% endblock %}