{% extends "base.html" %}
{% block title %}Tasks{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}

{% block breadcrumb %}
        <li class="breadcrumb-item"><a href="{{ url_for('tasks_list') }}">Tasks</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{task_name}}</li>
{% endblock %}

{% block content %}
<ul class="nav flex-column">

    <li class="nav-item">
        <a class="nav-link btn btn-primary btn-lg mx-sm-1 mb-2"
           href="{{ url_for('labeling', task_name=task_name) }}">View and label jobs</a>
    </li>

    <li class="nav-item">
        <a class="nav-link btn btn-primary btn-lg mx-sm-1 mb-2"
           href="{{ url_for('scraping', task_name=task_name) }}">Scrape new jobs</a>
    </li>

    <li class="nav-item">
        <ul class="nav nav-justified">

            <li class="nav-item">
                <a class="nav-link btn btn-secondary mx-sm-1"
                   href="{{ url_for('reload_ranker', task_name=task_name) }}">Reload and recalc</a>
            </li>

            <li class="nav-item">
                <div class="btn-group">
                    <div id="headingDesc">
                        <a class="nav-link btn btn-secondary mx-sm-1" type="button"
                           data-toggle="collapse" data-target="#collapseDesc"
                           aria-expanded="false" aria-controls="collapseDesc">Task definition</a>
                    </div>
                    <button type="button" class="nav-link btn btn-secondary dropdown-toggle dropdown-toggle-split"
                            id="taskDrop" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                            data-reference="parent">
                    </button>
                    <div class="dropdown-menu" aria-labelledby="taskDrop">
                        <a class="dropdown-item"
                           href="{{ url_for('edit_task', task_name=task_name) }}">Edit Task</a>
                    </div>
                </div>
            </li>

            <li class="nav-item">
                <div class="dropdown">
                    <a class="nav-link btn btn-secondary dropdown-toggle mx-sm-1" type="button"
                       id="infoDrop" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false">Info</a>
                    <div class="dropdown-menu" aria-labelledby="infoDrop">
                        <a class="dropdown-item" href="{{ url_for('server_logs') + '#bottom' }}"
                           target="_blank">Server logs</a>
                        <a class="dropdown-item"
                           href="{{ url_for('labels_history', task_name=task_name) + '#bottom' }}"
                           target="_blank">Labels history</a>
                        <a class="dropdown-item"
                           href="{{ url_for('scrapes_history', task_name=task_name) + '#bottom' }}"
                           target="_blank">Scrapes history</a>
                    </div>
                </div>
            </li>
        </ul>
</ul>

<div class="collapse" id="collapseDesc" aria-labelledby="headingDesc">
    <div class="card card-body">
        <pre id="json"><span class="inner-pre font-weight-bold">{{ config_data }}</span></pre>
    </div>
</div>

{% endblock %}