{% extends "base.html" %}
{% block title %}Job{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
<h2>Controls:</h2>
<h3>
    <a href="{{ skip_url }}">Skip</a>
    <a href="{{ recalc_url }}">Recalculate</a>
    <a href="{{ back_url }}">Back to start..</a>
</h3>
<form method="post">
    <h1>Label the Relevance (No / Yes / number btween 0 and 1):</h1>
    <p><input type=submit name=no value=No style="font-size: 22px">
        <input type=submit name=yes value=Yes style="font-size: 22px">
        <input type=text name=label style="font-size: 22px" autofocus autocomplete="off">
        <input type=submit name=button value=Label style="font-size: 22px">
</form>
<h1>Job Page: <a href="{{ job_url }}" target="_blank">{{ job_url }}</a> </h1>
<pre id="json"><span class="inner-pre" style="font-size: 16px">{{ url_data }}</span></pre>
<h1>Job page preview: </h1>
<iframe src="{{ iframe_url }}" title="Original page" width="1600" height="1600"></iframe>
{% endblock %}