{% extends "base.html" %}
{% block title %}New Task{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
<h2>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ back_url }}">Tasks</a></li>
        <li class="breadcrumb-item active" aria-current="page"> New Task </li>
    </ol>
</h2>

<form method="post" id="form">
    <h3>Select a name for the new task (no spaces):</h3>
    <div class="form-group">
    <input type=text class="form-control-lg" name=name autofocus autocomplete="off" placeholder="..no spaces">
        </div>
    <input type=submit class="btn btn-primary btn-lg" name=next value="Create and go to edit">
</form>
{% endblock %}