{% extends "base.html" %}
{% block title %}Waiting{% endblock %}
{% block head %}
{{ super() }}
<meta http-equiv="refresh" content="{{ seconds }}">
{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item">
    <a href="{{ url_for('tasks_list') }}">Tasks</a></li>
<li class="breadcrumb-item">
    <a href="{{ url_for('task_description', task_name=task_name) }}">{{task_name}}</a></li>
<li class="breadcrumb-item active" aria-current="page">{{ title }}</li>
{% endblock %}

{% block content %}
<h2 class="alert alert-warning">{{ message }}</h2>
{% endblock %}