{% extends "base.html" %}
{% block title %}Tasks{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    <h1>Task "{{task_name}}":</h1>
    <h1>Label: <a href="{{ label_url }}">{{ label_url }}</a></h1>
    <h1>Scrape: <a href="{{ scrape_url }}">{{ scrape_url }}</a></h1>
    <h1>Reload and recalc: <a href="{{ reload_url }}">{{ reload_url }}</a></h1>
    <h1>Back: <a href="{{ back_url }}">{{ back_url }}</a></h1>
    <h2>Task data: </h2>
    <pre id="json"><span class="inner-pre" style="font-size: 18px">{{ task_data }}</span></pre>
{% endblock %}